.divContenedor {
    background-color: aqua;
    h1 {
        color: antiquewhite;
    }
}


$bgTitular : dark ;

h1 {
    @if $bgTitular == valor  {
        color: aliceblue;
        background-color: black;
    }
}