





//partials
@import "vars";
@import "footer";
@import "media";
@import "pages";













@media (max-width:600px) {
    .tortas {
      display: grid;
      grid-template-columns: 1fr;
      padding: 20px;
    }
    .locales {
      display: grid;
      grid-template-columns: 1fr;
      padding: 20px;
    }
    .articulos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      
    }
    

}



  
  
    

        
            
    






  