





//partials
@import "vars" ;
@import "footer";
@import "media";
@import "pages";


.mapas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  justify-items: center;
  & &_div {
    display: flex;
    width: 60%;
    border: 2px solid $colorDefondo;
  }
}
    
    
  

  







@media (max-width:600px) {
    .tortas {
      display: grid;
      grid-template-columns: 1fr;
      padding: 20px;
    }
    .locales {
      display: grid;
      grid-template-columns: 1fr;
      padding: 20px;
    }
    .articulos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      
    }
    .articulos_div {
      display: flex;

    }
    .ofertas {
      display: grid;
      grid-template-columns: 1fr;
      padding: 20px;
    }
    .mapas{
      
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
    }
   
    
    
  }
    
   
    




  
  
    

        
            
    






  